modules = ["nodejs-20", "web", "python-3.11", "python3"]
run = "bash -lc './dev.sh'"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "swig", "tcl", "tesseract", "tk", "xcbuild", "zlib"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[env]
PORT = "5000"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "user"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -lc './dev.sh'"
waitForPort = 5000
